name: CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run
      working-directory: ./WasabiDeploy
      run: dotnet run --configuration Release
